.cards-tickets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 60px 0px;
}

.card-ticket {
  border: 1px solid #2e2e2e !important ;
  border-radius: 12px;
  padding:  1.7rem;
  color: #fff;
  font-family: 'Poppins' sans-serif;
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .trix-content {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }
  .button-secondary-small {
    margin: 0;
  }
  .ticket-title {
    margin: 0px;
  }
  .ticket-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .ticket-creator {
    display: flex;
    align-items: center;
    margin: 0;
    p {
      margin: 0;
      margin-left: 20px;
    }
  }
}

.header {
  margin-top: 60px;
  h1 {
    font-family: 'Poppins', sans-serif;
  }
}

.subheadline-line-category {
  height: 2px;
  width: 100px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.create-a-ticket {
  height: 54px;
}

.profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
