body {
  font-family: 'Poppins', sans-serif;

}

.category-section {
  padding: 0px 0px 100px 0px;
}

.head {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 64px;
}

.category-title{
  padding-top: 32px;
  color: white;
}
.category-svg{
  padding-top: 1rem;
}

.cards-category{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 32px 32px;
  margin-bottom: 16px;
  padding: 1rem;
}

.link-to-tickets {
  color:white;
  position: absolute;
  bottom: 0px;
  left: 1.5rem;
}

.card-category{
  position: relative;
  height: 100px;
  border-radius: 12px;
  border: 1px solid #2e2e2e;
}



.languages{
  margin-bottom: 32px;
}
.colour-circle {
  position: absolute;
  bottom: 23px;
  left: 0.5rem;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  box-shadow: 0px 0.4px 0.4px 0.6px rgb(18,18,18);
}

.circle-container {
  display: flex;
  align-item: center;
  padding: 0;
  margin: 0;
  h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    width: 65%;
  }
}

.bigger-cirle {
  border-radius: 50%;
  height: 3.8rem;
  width: 3.8rem;
  border: 1.4rem solid #181818;
}












