.wrapper-message {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 120px;
  min-height: 100vh;
   h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.conversation-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-user-name {
  color: white;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.message-container {
  padding: 4px 0px;
}

.message-user-content {
  color: white;
  margin-right: 8px;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

#message-form {
  margin: 0;
}

.time-and-date {
  color: rgba(255,255,255,0.6);
}

.profile-image-message {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 5px;
}

.container-wrapper {
  min-height: 100vh;
}
