.message-user-name {
  color: white;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.message-container {
  padding: 4px 0px;
}

.message-user-content {
  color: white;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

#message-form {
  margin: 0;
}

.time-and-date {
  color: rgba(255,255,255,0.6);
}
