<div class="container-wrapper">
  <h1>Your Messages</h1>
  <div class="chat-display-wrapper">
    <% @chats.each do |chat| %>
      <div class="individual-chat">
        <div class="individual-chat-info">
          <% if current_user == chat.sender %>
            <div class="individual-chat-name"><p><%= chat.receiver.username %></p></div>
          <% elsif current_user == chat.receiver %>
            <div class="individual-chat-name"><p><%= chat.sender.username %></p></div>
          <% end %>
          <p class="individual-chat-message"><%= chat.messages.last.content if chat.messages.exists? %></p>
        </div>
        <div class="see-chat-button">
          <%= link_to "See Chat", category_ticket_chat_path(chat.ticket.category, chat.ticket, chat), class: "button-secondary-small"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

