<div class="container-wrapper">
  <h1>Your Messages</h1>
  <div class="chat-display-wrapper">
    <% @chats.each do |chat| %>
      <div class="individual-chat">
        <div class="individual-chat-info">
          <% if current_user == chat.sender %>
            <p class="individual-chat-name"><%= chat.receiver.username %></p>
          <% elsif current_user == chat.receiver %>
            <p class="individual-chat-name"><%= chat.sender.username %></p>
          <% end %>
          <p class="individual-chat-message"><%= chat.messages.last.content if chat.messages.exists? %></p>
        </div>
        <div class="see-chat-button">
          <%= link_to "See Chat", category_ticket_chat_path(@tickets.find(chat.ticket_id).id, chat.ticket_id, chat.id), class: "button-secondary-small"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

