<h1 id="user-token"><%= @token %></h1>

<div id="connect-button" style="color: white">
  <p>click</p>
</div>

<div id="local-media-container-id">

</div>

<div id="remote-media-div"></div>

<p><%= @user.username %></p>
