<div id="video-page-container">
  <p id="user-token"><%=  @token %></p>
  <p><%= @user.username %></p>
  <div id="live-chat-container">
    <div class="video-container">
      <div id="local-media-container-id">
      </div>
      <div id="remote-media-div">

      </div>
    </div>
    <div class="chat-container">
      <h2>Chat</h2>
    </div>
  </div>

  <div class="video-buttons-container">
    <div class="button-secondary-small" id="connect-button">
      <p>click</p>
    </div>
    <div class="button-secondary-small" id="share-button">
      <p>share</p>
    </div>
    <div class="button-secondary-small" id="end-button">
      <p>end</p>
    </div>
  </div>
</div>
