
<!-- not ticket filtered index view -->

<div class="container-wrap">
  <div class="header">
    <h1>Community feed for <%=@category.name %> </h1>
    <h1>test</h1>

    <%= link_to 'Create a ticket', new_category_ticket_path(params[:category_id]), class: 'button-main'  %>
  </div>

  <div class="cards-tickets">
    <% @tickets.each do |ticket| %>
    <div class="card-ticket">
      <h2 class="ticket-title"> <%= ticket.title %></h2>
      <h1>oidfh</h1>
     <%= link_to 'Get more details', category_ticket_path(@category.id, ticket.id), class: "button-secondary-small" %>
    </div>
    <% end %>
  </div>


</div>
