<div class="container-wrap">
    <div class="category-title" id="describe-issue">
      <h1>Describe your issue</h1>
    </div>

  <div>
     <%= simple_form_for [@category, @ticket] do |f| %>

     <div class="form-inputs">
       <%= f.input :title,
       required: true %>
       <%= f.rich_text_area :description,
       as: :text,
       required: true %>
     </div>

    <div class="form-actions button-main-small" id="publish-button">
      <%= f.button :submit, "Publish Issue" %>
    </div>
    <% end %>
  </div>
</div>
