.navbar-lewagon {
  justify-content: space-between;
  background: #181818;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
.nav-link a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 10px;
  &:hover {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
  }
}


.avatar:hover {
  cursor: pointer;
}

#notification {
  display: flex;
  align-items: center;
}

.avatar-status {
  position: relative;
}

.avatar {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background: #181818;
}

.dropdown-item {
  color: white !important;
  &:hover{
    background: #131313;
  }
}

.navbar-nav {
  display: flex !important;
  align-items: center !important;
}

.active {
  color: #fff !important;
  font-weight: 500;
  .subheadline-line {
    background-color: rgba(249,56,56,1);
  }
}


